export(CubistR)
export(Rmse)
export(SimEval)
export(SimIm)
export(gbmC)
export(glmboostR)
export(guess)
export(impute)
export(lassoC)
export(lassoR)
export(mr)
export(otherIm)
export(pcrR)
export(plotIm)
export(plsR)
export(rdaC)
export(ridgeC)
export(ridgeR)
export(rpartC)
export(stepBackC)
export(stepBackR)
export(stepBothC)
export(stepBothR)
export(stepForC)
export(stepForR)
